<div class="panel panel-default-custom" ng-controller="VaccinationController">
    <div class="panel-heading handle bold">
        {{vaccinationWidget.title| translate}}
        <span class="pull-right widget-link">
            <a class="small-horizontal-spacing" href ng-click="expandCollapse(vaccinationWidget)">
                <span ng-show="vaccinationWidget.expand"><i class="fa fa-chevron-up"
                        ng-attr-title="{{collapseLabel}}"></i></span>
                <span ng-show="!vaccinationWidget.expand"><i class="fa fa-chevron-down"
                        ng-attr-title="{{expandLabel}}"></i></span>
            </a>
            <a ng-show="userAuthority.canAdministerDashboard || !lockedList[selectedProgram.id]"
                class="small-horizontal-spacing" href ng-click="removeWidget(vaccinationWidget)"
                ng-attr-title="{{removeLabel}}"><i class="fa fa-times-circle"></i></a>
        </span>
    </div>
    <div ng-show="vaccinationWidget.expand" class="panel-body dashboard-widget-container">

        <!-- notes section begins -->
        <div ng-if="loading.all">
            <img src="../images/ajax-loader-bar.gif" />
        </div>
        <div ng-if="!loading.all">
            {{eligibility}}
            <div ng-show="!certificate.eligibility" class="alert alert-danger">
                <p>Not eligible to issue a ceriticate.</p>
                <ul>

                </ul>
            </div>
            <div ng-show="certificate.eligibility" class="remove-default-padding">
                <div class="add-default-padding" ng-if="certificate.url1===undefined">
                    <button type="button" class="btn btn-primary" ng-click="issue()">
                        <i class="fa fa-certificate "></i>
                        {{'issue_cert'| translate}}
                    </button>
                </div>
                <div class="add-default-padding" ng-if="certificate.url1">
                    <input type="text" ng-model="certificate.url1" class="form-control" disabled />
                    <a type="button" class="btn btn-primary" ng-if="certificate.url1" ng-href="{{certificate.url1}}"
                        target="_blank">
                        <i class="fa fa-download"></i>
                        {{'view_cert1'| translate}}
                    </a>
                    <a type="button" class="btn btn-primary" ng-if="certificate.url2" ng-href="{{certificate.url2}}"
                        target="_blank">
                        <i class="fa fa-download"></i>
                        {{'view_cert2'| translate}}
                    </a>

                    <button type="button" class="btn btn-primary" ng-click="sendSMS()" ng-if="certificate.url1 && certificate.phone.value">
                        <i class="fa fa-commenting-o"></i>
                        {{'send_cert_sms'| translate}}
                    </button>

                    <button type="button" class="btn btn-primary" ng-click="issue()" ng-if="certificate.url1"
                        ng-disabled="issueInProgress">
                        <i class="fa fa-certificate"></i>
                        {{'re_issue_cert'| translate}}
                        <img src="../images/ajax-loader-bar.gif" ng-if="loading.issue" />
                    </button>

                </div>
            </div>

        </div>
    </div>